[Unit]
Description=SVXLink SDS decoder
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=svxlink
Group=svxlink
ExecStart=/usr/bin/python3 /opt/svx_sds/svxsds.py
StandardInput=tty-force
Environment=RUNASUSER=svxlink
Restart=on-failure
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
